.container {
    display: block;
    align-items: center;
    justify-content: center;
}
body{
   
    color:black;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: plum;
}

.buttons{
    height: 100px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    border-width: 3px;
    border-color: blue;
}

#increaseButton {
    background-color: rgb(210, 30, 105);

}

#decreaseButton {
    background-color: aqua;
    
}
#total{
    background-color: bisque;
}
#resetButton {
    background-color: red;
    font-weight: bold;
    margin-left: 75px;
    margin-top: 5px;
    width: 150px;
}
.operator {
    background-color: pink;
    height: 32px;
    width: 100px;
    border-radius: 5px;
    border-width: 3px;
}
.buttons:hover {
    background-color: grey;
    border-width: 5px;
    font-weight: bold;
}
